/* font-family: 'Black Han Sans', sans-serif; */
/* font-family: 'Cute Font', cursive; */
.title_bg title,
.intro_bg .intro,
.package_bg .package,
.quiz_sns_bg .quiz_sns
.cancle {
    width:1200px; margin:0 auto;
}
/* 타이틀 아이콘 */
.title_bg .title .title_icon,
.intro_bg .intro .title_icon,
.attraction .title_icon {
    width:80px;
}
 /* 1. 타이틀 */
.title_bg {
    background:aqua url(../images/title_bg_.jpg) no-repeat fixed center 90%;
    background-size:cover;
    position:relative;
}
.title_bg::after {
    display:block;
    content:'';
    height:800px; width:100%;
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(77,200,254,0.8) 50%, rgba(255,255,208,0.8) 100%);
    position:absolute; top:0; left:0;
}
.title_bg .title {
    height:800px;
    margin:0 auto;
    display:flex;
    flex-flow:column nowrap;
    z-index:900; position:relative;
    align-items:center;
}
.title_bg .title .title_icon {
    margin:145px 0 30px 0;
}
.title_bg .title .title_icon img {width:100%;
}
.title_bg .title h1 {}
.title_bg .title h1 img {}
.title_bg .title .kidult {
    margin-top:234px;
    align-self:flex-end;
}
.title_bg .title .kidult span {
    font-size:0.75rem;
    letter-spacing:-0.02em;
}
.title_bg .title .kidult span:nth-child(1) {
    color:#8157B7;
    font-weight:700;
    margin-right:10px;
}
/* 2. 소개 */
.intro_bg {
    background:#8157B7;
}
.intro_bg .intro {
    width:1200px; margin:0 auto;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}
.intro_bg .intro > p {
    margin-bottom:30px;
}
.intro_bg .intro .title_icon {}
.intro_bg .intro .title_icon img {width:100%;}
.intro_bg .intro .sub_title {
    font-family: 'Black Han Sans', sans-serif;
}
.intro_bg .intro > h2 {
    margin-bottom:60px;
    font-family: 'Cute Font',cursive;
}
.intro_bg .intro ul {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
}
.intro_bg .intro ul li {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}
.intro_bg .intro ul li h2 {
    margin-bottom:10px; 
}
/* 소개 - 산리오 하모니 */
.intro_bg .intro ul .jp_sanrio {}
.intro_bg .intro ul .jp_sanrio h2 {}
.intro_bg .intro ul .jp_sanrio .contents {}
.intro_bg .intro ul .jp_sanrio .contents .contentsimg {}
.intro_bg .intro ul .jp_sanrio .contents .contentsimg img {}
.intro_bg .intro ul .jp_sanrio .contents h2 {}
.intro_bg .intro ul .jp_sanrio .contents .explanation {}
/* 소개 - 유니버셜 */
.intro_bg .intro ul .us_universal {}
.intro_bg .intro ul .us_universal h2 {}
.intro_bg .intro ul .us_universal .contents {}
.intro_bg .intro ul .us_universal .contents .contentsimg {}
.intro_bg .intro ul .us_universal .contents .contentsimg img {}
.intro_bg .intro ul .us_universal .contents h2 {}
.intro_bg .intro ul .us_universal .contents .explanation {}
/* 소개 - uk_harry */
.intro_bg .intro ul .uk_harry .h2 {}
.intro_bg .intro ul .uk_harry .contents {}
.intro_bg .intro ul .uk_harry .contents .contentsimg {}
.intro_bg .intro ul .uk_harry .contents .contentsimg img {}
.intro_bg .intro ul .uk_harry .contents h2 {}
.intro_bg .intro ul .uk_harry .contents .explanation {}
/* 3. 어트랙션 */
.attraction {}
.attraction .title_icon {}
.attraction .title_icon img {width:100%;}
.attraction .sub_title {}
.attraction h2 {}
/* 산리오 캐릭터 보트 - top*/
.attraction .top {}
.attraction .top .boat {}
.attraction .top .boat .contentsimg {}
.attraction .top .boat .contentsimg img {}
.attraction .top .boat h2 {}
.attraction .top .boat .info {}
.attraction .top .boat .info span {}
/* btm */
.attraction .btm {}
/* 슈퍼마리오 월드 */
.attraction .btm .mario {}
.attraction .btm .mario .contentsimg {}
.attraction .btm .mario .contentsimg img {}
.attraction .btm .mario h2 {}
.attraction .btm .mario .info {}
.attraction .btm .mario .info span {}
/* 다이애건 앨리 */
.attraction .btm .diagon {}
.attraction .btm .diagon .contentsimg {}
.attraction .btm .diagon .contentsimg img {}
.attraction .btm .diagon h2 {}
.attraction .btm .diagon .info {}
.attraction .btm .diagon .info span {}
/* 4. 패키지 */
.package_bg {}
.package_bg .package {}
.package_bg .package .title_icon {}
.package_bg .package .title_icon img {}
.package_bg .package .sub_title {}
.package_bg .package .h2 {}
.package_bg .package .pack_contens {}
/* 하모니 랜드 패키지 */
.package_bg .package .pack_contens .harmony {}
.package_bg .package .pack_contens .harmony .left {}
.package_bg .package .pack_contens .harmony .left img {}
.package_bg .package .pack_contens .harmony .right {}
.package_bg .package .pack_contens .harmony .right .top{}
.package_bg .package .pack_contens .harmony .right .top h2{}
.package_bg .package .pack_contens .harmony .right .top .sub_title {}
.package_bg .package .pack_contens .harmony .right .top .contents {}
.package_bg .package .pack_contens .harmony .right .btm {}
.package_bg .package .pack_contens .harmony .right .btm .left {}
.package_bg .package .pack_contens .harmony .right .btm .left .benefit {}
.package_bg .package .pack_contens .harmony .right .btm .left .benefit span {}
.package_bg .package .pack_contens .harmony .right .btm .left .benefit em {}
.package_bg .package .pack_contens .harmony .right .btm .left .price del {}
.package_bg .package .pack_contens .harmony .right .btm .left .price em {}
.package_bg .package .pack_contens .harmony .right .btm .more {}
/* 유니버셜 패키지 */
/* 5. 퀴즈공유 */ 
/* 6. 이벤트경품 */
/* 7. 유의사항 */